<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>

    <body>
        <h1>I´ll be back!</h1>
        <p>
            This site is being updated.
        </p>
    </body>
</html>